---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
IndentCaseLabels: true
ColumnLimit: 100
AlignConsecutiveMacros: true
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
SortIncludes: true
MaxEmptyLinesToKeep: 1
Language: Cpp
